[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-migrate = "*"
flask = "*"
sqlalchemy = "*"
alembic = "*"
python-dotenv = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"

[dev-packages]
pycodestyle = "*"

[requires]
python_version = "3.8"
